{% from 'macros/main_macros.html' import navbar  with context%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interactive Prompt</title>
  <link rel="stylesheet" href="{{ url_for('static', path='assets/css/main.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', path='assets/css/ai_router.css' ) }}" />
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"
    integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm"
    crossorigin="anonymous"></script>
</head>

<body class="full-height">

  {{ navbar() }}


  <main>
    <!-- An article -->
    <article id="top" class="margin-container three-quarters-height">

        <div id="chat-container" class=" basis-2 bordered">

          <div id="chat-history" class="column-container">
            <div id="nextMessage" class="top-container">
            </div>
          </div>

          <form id="chat-form" hx-post="/ai/send-message" hx-target="#nextMessage" hx-swap="outerHTML"
            hx-include="#systemPrompt" class="container bottom-container">
            <input class="basis-2 grow" type="text" name="messageInput" placeholder="Type your message..." autocomplete="off" required />
            <button type="submit">Send</button>
          </form>
        </div>
      
        <div id="system-prompt" class="column-container basis-1">
          <h2 class="centered-text">System Prompt</h2>
          {% autoescape on %}
          <textarea name="systemPrompt" id="systemPrompt" class="grow">
  You are a junior developer. Your task is to create code for me to review as your senior developer. 
          </textarea>
          {% endautoescape %}

        </div>
    </article>
  </main>
</body>

</html>