
html, body
{
    margin: 0px; padding: 0px
}

article {
	display: block;
}

p {
}

pre {
	width: 100%;
	overflow-x: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}

#top {
	margin-top: 5dvh;
}

#bottom {
	position: fixed; /* Positions the div relative to the viewport */
	bottom: 0;      /* Aligns the div to the bottom edge of the viewport */
}

/* Nav Bar */
#navbar {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2dvh;
}

.home-btn img {
	height: 4rem;
	width: auto;
}

#navbar ul {
	list-style-type: none;
	display: flex;
}

#navbar li {
	margin-right: 0.5dvw;
}

#navbar a {
	color: #fff;
	text-decoration: none;
	padding: 0.25dvh;
	transition: background-color 0.3s ease;
}

#navbar a:hover {
	background-color: #555;
}

/* Container */

.container {
	display: flex;
	flex-wrap: wrap;
	padding: 1dvh;
}

.centered-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.column-container {
	display: flex;
	flex-direction: column;
}

.margin-container {
	margin: 2dvh 10dvw;
}

.display-container {
	justify-content: space-evenly;

}
.card {
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease;
	height: auto;
}

.card:hover {
	box-shadow: 0 6px 12px rgba(50, 50, 93, 0.17), 0 3px 6px rgba(0, 0, 0, 0.75);
	transform: scale(1.02); /* Slightly increase size on hover */
}

.card::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #f7f7f7; /* Light gray border */
	border-radius: 8px 8px 0 0;
}

/* Inputs Section */

textarea {
	-moz-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	-webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	-webkit-appearance: none;
	display: block;
	border: 0;
	padding: 0.75em;
	font-size: 1em;
	border-radius: 8px;
	border: solid 1px #ddd;
	background: #fff;
	color: #000000;
	box-shadow: inset 0px 2px 3px 1px rgba(0, 0, 0, 0.05), 0px 1px 0px 0px rgba(255, 255, 255, 0.025);
  }

  input {
	border: 0;
	width: 100%;
	color: #000000;
  }

  /* Decorative */

.bordered {
	border-radius: 1rem;
	box-shadow:
				2dvw 2dvw 2dvw rgba(10, 10, 255, 0.11),
				1dvw 1dvw 2dvw rgba(241, 113, 113, 0.11),
		inset 	2dvw 2dvw 2dvw rgba(241, 113, 113, 0.11);
	padding: 1dvh 1dvw;
}

.block {
	display: block;
}

.centered-text{
	text-align: center;
}

.quarter-width {
	width: 25%;
}

.third-width {
	width: 33%;
}

.half-width {
	width: 50%;
}

.three-quarters-width {
	width: 75%;
}

.full-width {
	width: 100%;
}

.quarter-height {
	height: 25dvh;
}

.third-height {
	height: 33dvh;
}

.half-height {
	height: 50dvh;
}

.three-quarters-height {
	height: 75dvh;
}

.full-height {
	height: 100dvh;
}

.solid {
	background-color: #ddd;
}

.basis-1 {
	flex-basis: 20%;
}

.basis-2 {
	flex-basis: 60%;
}


.basis-15-pct {
	flex-basis: 15%;
}

.fill-space {
	flex-grow: 1;
}

.grow {
	flex-grow: 1;
}

.grow-1 {
	flex-grow: 1;
}

.grow-2 {
	flex-grow: 2;
}

.grow-3 {
	flex-grow: 3;
}

.grow-4 {
	flex-grow: 4;
}

.grow-5 {
	flex-grow: 5;
}

.light-margin {
	margin: auto
}

.bottom-container {
	margin-top: auto;
}

.top-container {
	margin-top: 5px;
	margin-bottom: auto
}

.mb-5 {
	margin-bottom: 5dvh;
}
