#game-div {
  width: 720px;
  height:  540px;
}

#game-div canvas {
  width: 720px !important;
  height:  540px !important;
}

#status {
  position: relative;
  top: -540px;
}

#status img {
  width: 720px;
  height: 540px;
}

#status-progress {
  height: 18px;
  position: relative;
  top: -50px;
  width: 100%;
}
