img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
div {
  color: black;
}

#top {
  padding-top: 5vh;
}

#top p {
  font-size: 1em;
}

.centered {
  width: 50%;
  margin: auto;
  text-align: center;
}

.embedded {
  width: 80%;
  margin: auto;
}

figcaption {
  font-size: .75em;
}

ol li {
    list-style-type: none;
}
