{% macro navbar() %}
  <nav id="navbar" class="block w-screen bg-slate-300">
    <div class="w-4/5 p-2">
      <a href="/"><img src="{{ url_for('static', path='assets/img/Home_icon.png') }}" alt="Home" class="h-15 object-scale-down"></a>
      <!-- <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul> -->
    </div>

  </nav>
{% endmacro %}

{% macro border_box_css() %}
border rounded-md bg-gray-100
{% endmacro %}

{% macro code_box_css() %}
border rounded-md bg-cobalt-200
{% endmacro %}


{% macro drop_shadow_css() %}
rounded-xl shadow-lg outline outline-black/20
{% endmacro %}
