img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

figure {
  max-width: 100%;
  height: auto;
}

div {
  color: black;
}

#top {
  padding-top: 5vh;
}

#top p {
  font-size: 1em;
}

.centered {
  width: 50%;
  margin: auto;
  text-align: center;
}

.embedded {
  width: 80%;
  margin: auto;
}

li{
  line-height: 120%;
}

.embedded-ul {
  margin: 0;
}

.embedded-ul li {
  list-style-type: none;
}

figcaption {
  font-size: .75em;
}

ol li {
    list-style-type: none;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.marginless {
  margin: 0;
}

.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: .75em;
}

 /* Style the button that is used to open and close the collapsible content */
 .collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} 