{% macro portfolioCard(link, title, description) %}
<div class="col-4 col-6-medium col-12-small">
  <article class="box style2">
    <a href="{{link}}" class="image featured"><img src="{{ url_for('static', path='images/pic01.jpg') }}" /></a>
    <h3><a href="{{link}}">{{title}}</a></h3>
    <p>{{description}}</p>
  </article>
</div>
{% endmacro %}


{% macro plugin(name, link, description) %}
    <div class="card col-3 col-6-medium col-12-small">
        <button class="collapsible"><h4 class="marginless"><a href="{{link}}">{{name}}</a></h4></button>
        <div class="content">
            <a class ="button" href="{{link}}">
                Documentation
            </a>
            <a class="button"><s>Tutorial N/A</s></a>
            <p>{{description}}</p>
        </div>
    </div>
{% endmacro %}

{% macro tutorialPlugin(name, link, tutorialLink, description) %}
    <div class="card col-3 col-6-medium col-12-small">
        <button class="collapsible"><h4 class="marginless">{{name}}</h4></button>
        <div class="content">
            <a class ="button" href="{{link}}">
                Documentation
            </a>
            <a class="button" href="{{tutorialLink}}">
                Tutorial
            </a>
            <p>{{description}}</p>
        </div>
    </div>
{% endmacro %}
